.tabbable
  %ul.nav.nav-tabs
    %li
      = nav_link 'VM List', vms_path
    %li
      = nav_link 'Pool Info', pools_path
    %li
      = nav_link 'Destroy VM Requests', destroy_vm_requests_path
    %li
      = nav_link 'DNS Record Requests', dns_record_requests_path
    %li
      = nav_link 'Shutdown VM Requests', shutdown_requests_path
