= "Hi #{@vm.user},"
= ""
= "Your VM(#{@vm.hostname}) has not been used in the past 2 months. Please confirm whether to keep it or delete with the links below. Keys are updated every month so please use the most recent links."
= ""
= "Keep it   : http://vmmanager.test.domain/vms/#{@vm.id}/continue_using?key=#{@vm.key}"
= "Delete it : http://vmmanager.test.domain/vms/#{@vm.id}/stop_using?key=#{@vm.key}"
= ""
= "Thank you for your cooperation."
= "If you have any questions, feel free to contact us at bot@****"
= "---"
= "This is an automatic email sent by VMManager. Please do not reply directly to this email."
