= render "shared/vms_pools_navinfo"

.tab-content
  .tab-pane.active

.tabbable
  %ul.nav.nav-pills.justified
    %li{class: "#{'active' if params['filter'] == 'commpleted'}"}
      =link_to 'Commpleted', destroy_vm_requests_path(filter: 'commpleted')
    %li{class: "#{'active' if params['filter'] == 'waiting'}"} 
      =link_to 'Waiting', destroy_vm_requests_path(filter: 'waiting')
    %li{class: "#{'active' if params['filter'] == 'all' || params['filter'].nil?}"} 
      =link_to 'All', destroy_vm_requests_path(filter: 'all' || params['filter'].nil?)
  .tab-content
    .tab-pane{ class: "#{'active' if params['filter'] == 'commpleted'}" }
      =render partial: "requests_table", locals: { destroy_vm_requests: @destroy_vm_requests_completed }
    .tab-pane{ class: "#{'active' if params['filter'] == 'waiting'}" }
      =render partial: "requests_table", locals: { destroy_vm_requests: @destroy_vm_requests_waiting }
    .tab-pane{ class: "#{'active' if params['filter'] == 'all' || params['filter'].nil?}" }
      =render partial: "requests_table", locals: { destroy_vm_requests: @destroy_vm_requests_all }
%br

= link_to 'Request Destroy Xcp Vm', new_destroy_vm_request_path
